

#troxHeader {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top:0;
    left:0;
    z-index: 1;
}

#troxLogo{
    margin: 15px;
    width:45px;
}

.troxCellButton>img{
    width:104px;
}

#troxDeleteButton>img{
    width:104px;
}

#navRibbon {
    height:200px;
}